.banner-background{
    background: url('../../../assets/images/more/3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}

.heading{
    font-family: 'Rancho', cursive;
}

@media screen and (max-width: 600px) {
    .banner-background{
        height: 400px;
    }
}